In [8]:
dict_ = {key: value for key, value in[['apple',12],['banana',18],['orange',24]]}

In [9]:
dict_

{'apple': 12, 'banana': 18, 'orange': 24}

In [10]:
dict_['cherry'] = 36

In [11]:
dict_

{'apple': 12, 'banana': 18, 'orange': 24, 'cherry': 36}

In [12]:
veg = {'tomato':45,'potato':32,'spanish':31}

In [13]:
dict_.update(veg)

In [14]:
dict_

{'apple': 12,
 'banana': 18,
 'orange': 24,
 'cherry': 36,
 'tomato': 45,
 'potato': 32,
 'spanish': 31}

In [15]:
dict_.pop('tomato')

45

In [16]:
dict_

{'apple': 12,
 'banana': 18,
 'orange': 24,
 'cherry': 36,
 'potato': 32,
 'spanish': 31}

In [28]:
x = {1,3,5,7,9}
y = {2,4,6,8,10}
z = {0,1,2,3,4,5,6,7,8,9}
x.isdisjoint(y)

True

In [34]:
number = 0
if number%2 == 0 and number != 0:
    print('even')
elif number%2 != 0:
    print('odd')
else:
    print('chal nikal')

chal nikal

In [38]:
names = ['Faraz','Haseeb','Muhammad']
for rep in range(len(names)):
    names[rep] = 'Mr.' + names[rep]

In [40]:
names

['Mr.Faraz', 'Mr.Haseeb', 'Mr.Muhammad']

In [42]:
my_dict = {'apple':23, 'banana':24,'cherry':25}
for fruit,count in my_dict.items():
    print('there are ', count, fruit,'in the fruit basket' )

there are  23 apple in the fruit basket
there are  24 banana in the fruit basket
there are  25 cherry in the fruit basket

In [43]:
numb = [11,12,13,14,15]
for ind, num in enumerate(numb):
    print('the number ', num, 'is at index ', ind, 'in numbers' )

the number  11 is at index  0 in numbers
the number  12 is at index  1 in numbers
the number  13 is at index  2 in numbers
the number  14 is at index  3 in numbers
the number  15 is at index  4 in numbers

In [44]:
def myfunc(number):
    if number % 2 == 0:
        return True
    else:
        return False

In [46]:
myfunc(2)

True

In [52]:
mylist1 = [1,2,3,4,5,6]
def func_1(number):
    var = mylist1.append(7)
    print('there is ', number, 'sucessfully')
func_1(7)
mylist1

there is  7 sucessfully

[1, 2, 3, 4, 5, 6, 7]

In [63]:
mylist2 = [11,12,13,14,15,16]
def func_2(numb):
    var = mylist2.insert(2, numb)
    print('there is ', numb ,'added at index', 2)
func_2(11.5)
mylist2

there is  11.5 added at index 2

[11, 12, 11.5, 13, 14, 15, 16]

In [79]:
mylist3 = [21,22,23,24,25]
def func_3(numeric):
    var = mylist3.pop(2)
    print('at index', 2, 'we deleted ',23 )
func_3(0)
mylist3

at index 2 we deleted  23

[21, 22, 24, 25]